/* -------------------- NAVIGATION BAR ---------------------- */
.navbar {  
    display: flex;
    margin: 10px;
}

.navbar {
    background-color:  rgba(36, 33, 33, 0.85);
    padding-left: 20px;
    padding-right: 20px;
}

.navpages {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.navpages > a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navpages > a:hover {
    /* font-weight: bold; */
    /* font-size: large; */
    border-style: solid;
    border-width: thin;
    border-color: red;
}

.social-icons {
    display: flex;
    align-items: space-between;
    gap: 50px;
}

.social-icons img {
    max-height: 42px;
    height: 100%;
    width: auto;
}

.social-icons img {
    max-height: 42px;
    height: 100%;
    width: auto;
}
