/* -------------------- GRID CONTAINER LAYOUT ---------------------- */

.container {  
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 30px; 
    grid-template-areas:
        " intro-box intro-box hobbies-box "
        " city-box pets-box pets-box ";
    position: relative;
    justify-content: space-between;
}

.city-box {grid-area: city-box;}
.intro-box {grid-area: intro-box;}
.pets-box {grid-area: pets-box;}
.hobbies-box {grid-area: hobbies-box;}
/* .profback-box {grid-area: profback-box;} */

/* -------------------- Grid Formatting ---------------------- */

div[class$='box'] {
    border-style: solid;
    border-width: thin;
    border-color: grey;
    background-color: rgba(12, 143, 199, 0.741);
    padding: 10px;
}

/* ~ hover formatting ~ */
[class$="box"]:hover {
    background-color: rgb(114, 113, 113);
    color: aliceblue;
    font-size: medium;
}

input:hover {
    background-color: black;
}

/* -------------------- HOBBIES ---------------------- */
img.selfie {
    float: left;
    padding-right: 20px; 
}

.hobbies-box * {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* height: 100%; */
    padding: 10px;
}

.hobby {
    border-style: solid;
    border-color: black;
    padding: 10px
}

.hobby:hover {
    border-color:aliceblue;
}

/* -------------------- HOBBIES 2.0 ??? ---------------------- */
.hobbies-box > * {
    text-align: center;
}

.hobbies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* height: 100%; */
    padding: 10px;
}

.hobby {
    border-style: solid;
    border-color: black;
    padding-left: 5px;
    padding-right: 5px;
}

img.selfie {
    float: left;
    padding-right: 20px; 
}


/* -------------------- ABOUT ME ---------------------- */

img.chi-pic {
    height: 100%;
    width: auto;
    margin-left: 60px;
}

img.pets {
    height: auto;
    width: 100%;
    margin-left: 60px;
}

